section(class="about")
    div(class="about__container")
        div(class="about__block")
            h1(class="about__title") Поставки промышленной арматуры, <br>БРОУ, РОУ, автоматизированных систем управления арматурой, насосов и сопутствующего оборудования.
            a(href="company_catalog.html" class="about__link") Посмотреть каталог

        div(class="about__block")
            img(src="img/factory.svg", alt="factory" class="about__image")
