section.information
    .information__container

        h2.title.title_dark O компании

        .information__content

              .information__descr

                    p.information__text
                    | Компания &laquo;ЭнергоВэлвс&raquo;&nbsp;&mdash; один из&nbsp;ведущих комплексных поставщиков оборудования для предприятий энергетики, газовой и&nbsp;нефтехимической промышленности, металлургической отрасли на&nbsp;территории РФ&nbsp;и&nbsp;стран СНГ.
                    p.information__text
                    | Компания специализируется на&nbsp;поставках <nobr>запорно-регулирующей</nobr> арматуры высокого и&nbsp;низкого давления, БРОУ, РОУ, автоматизированных систем управления арматурой, насосов. По&nbsp;запросу в&nbsp;объем поставки может быть включено дополнительное оборудование, а&nbsp;также металлопродукция.
                    p.information__text
                    | Для строительства и&nbsp;реконструкции технологических объектов компания &laquo;ЭнергоВэлвс&raquo; предлагает надежное оборудование известных европейских <nobr>заводов-изготовителей</nobr>:

                    ul.information__list
                      li.information__list-item ARMATURY Group a.s. (Чехия) – производитель полной линейки запорной арматуры;
                      li.information__list-item IMI International (международная группа компаний) – производитель БРОУ, РОУ, запорно-регулирующей, предохранительной и иной промышленной арматуры;
                      li.information__list-item LESER GmbH & Co. KG (Германия) – производитель предохранительных клапанов;
                      li.information__list-item POLNA S.A. (Польша) – производитель регулирующей арматуры, пневмоприводов;
                      li.information__list-item AUMA (Германия) – производитель электроприводов и автоматизированных систем управления арматурой.

                      p.information__text
                      | Список наших партнеров и&nbsp;ассортимент продукции постоянно расширяется, благодаря чему мы&nbsp;можем предложить вам оптимальное решение для каждой поставленной задачи. 
                      p.information__text
                      | Компания &laquo;ЭнергоВэлвс&raquo; была основана в&nbsp;2011 году, и&nbsp;за&nbsp;это время мы&nbsp;успешно реализовали более 180 контрактов на&nbsp;поставку 15000 единиц оборудования.
                      p.information__text
                      | Нашими ключевыми заказчиками являются П<nobr>АО &laquo;Мосэнерго&raquo;</nobr>, П<nobr>АО &laquo;Силовые машины&raquo;</nobr>, <nobr>АО &laquo;ТЭК Мосэнерго&raquo;</nobr>, П<nobr>АО &laquo;ЛУКОЙЛ&raquo;</nobr>, <nobr>ОАО &laquo;МХК Еврохим&raquo;</nobr>, <nobr>ОАО &laquo;Генерирующая компания&raquo;</nobr>, ОАО ТКЗ &laquo;Красный котельщик&raquo;, ГК&nbsp;&laquo;Ташир&raquo; и&nbsp;другие компании.
                      p.information__text
                      | Оборудование, поставленное <nobr>ООО &laquo;ЭнергоВэлвс&raquo;</nobr>, успешно эксплуатируется более чем на&nbsp;50 производственных и&nbsp;энергетических предприятиях, расположенных в&nbsp;Москве, Казани, Уфе, Грозном, Якутске, Воронеже, а&nbsp;также на&nbsp;Урале, в&nbsp;Иркутской области, Красноярском, Хабаровском крае и&nbsp;на&nbsp;Сахалине. За&nbsp;пределами России поставки осуществлялись в&nbsp;Беларусь, Болгарию, Казахстан, Узбекистан, Монголию и&nbsp;Эстонию.
                      p.information__text
                      | Неотъемлемой частью нашей работы является активное взаимодействие с&nbsp;ведущими проектными организациями России и&nbsp;других стран:

                      ul.information__list
                        li.information__list-item ООО «Мосэнергопроект» г.Москва,
                        li.information__list-item АО «Институт Теплоэлектропроект» г.Москва,
                        li.information__list-item филиал ООО «КЭР-Инжиниринг» «ТатНИПИэнергопром» г. Казань,
                        li.information__list-item ООО «КОТЭС Инжиниринг» г.Новосибирск,
                        li.information__list-item АО «НИПИгазпереработка»,
                        li.information__list-item АО «Зарубежэнергопроект» г.Иваново,
                        li.information__list-item ООО «Татбелэнергопроект» г.Минск,
                        li.information__list-item РУП «Белнипиэнергопром» г.Минск.
                        
                        p.information__text
                        | Компания &laquo;ЭнергоВэлвс&raquo; с&nbsp;каждым годом укрепляет свои позиции на&nbsp;рынке поставщиков оборудования для энергетики и&nbsp;нефтехимии, а&nbsp;также осваивает новые сегменты рынка.
                        p.information__text
                        | Мы будем рады участвовать в новых проектах и ждем ваших заявок.

              .information__images

                .information__images-wrap 
                .information__images-wrap 
                .information__images-wrap 
                .information__images-wrap 
                .information__images-wrap 
                .information__images-wrap