section.contacts
    .contacts__container

        h2.title.title_dark Контакты

        .contacts__wrapper
            .contacts__data
                p.contacts__descr ТЕЛЕФОН
                a.contacts__phone(href="tel:84994264505") 8-499-426-45-05
                p.contacts__descr Адрес эл. почты
                a.contacts__mail(href="mailto:info@energovalves.ru") info@energovalves.ru
                p.contacts__descr ОФИС
                address.contacts__addr
                | 115280, Российская Федерация, г. Москва, ул. Ленинская Слобода, дом 26, БЦ&nbsp;&laquo;Омега-2&raquo;, корпус&nbsp;С, офис 419
            .contacts__map