section.customers
    .customers__container

        h2.title.title_dark Заказчики

        .customers__wrapper

                .customers__item
                    img.customers__image(src="img/customers/mosenergo.png", alt="Мосэнерго")

                .customers__item
                    img.customers__image(src="img/customers/lukoil.png", alt="Лукойл")

                .customers__item
                    img.customers__image(src="img/customers/silovyimachines.png", alt="Силовые машины")

                .customers__item
                    img.customers__image(src="img/customers/interraoes.png", alt="РАО ЕЭС")

                .customers__item
                    img.customers__image(src="img/customers/rusgidro.png", alt="Русгидро")

                .customers__item
                    img.customers__image(src="img/customers/evrohim.png", alt="Еврохим")

                .customers__item
                    img.customers__image(src="img/customers/tekmosenergo.png", alt="ТЭК Мосэнерго")

                .customers__item
                    img.customers__image(src="img/customers/sibur.png", alt="Сибур")

                .customers__item
                    img.customers__image(src="img/customers/severstal.png", alt="Северсталь")

                .customers__item
                    img.customers__image(src="img/customers/genericcomp.png", alt="Генерирующая компания")

                .customers__item
                    img.customers__image(src="img/customers/tashir.png", alt="Ташир")

                .customers__item
                    img.customers__image(src="img/customers/krasniikotelshik.png", alt="Красный котельщик")