section(class="customers")

    h2(class="customers__title") Заказчики

    div(class="customers__container")

            div(class="customers__item")
                img(src="img/customers/mosenergo.png", alt="mosenergo" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/lukoil.png", alt="lukoil" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/silovyimachines.png", alt="silovyimachines" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/interraoes.png", alt="raoees" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/rusgidro.png", alt="rusgidro" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/evrohim.png", alt="evrohim" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/tekmosenergo.png", alt="tekmosenergo" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/sibur.png", alt="sibur" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/severstal.png", alt="severstal" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/genericcomp.png", alt="genericcomp" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/tashir.png", alt="tashir" class="customers__image")

            div(class="customers__item")
                img(src="img/customers/krasniikotelshik.png", alt="krasniikotelshik" class="customers__image") 