section(class="features")
    div(class="features__container")

        h2(class="title title_light") Преимущества
        ul(class="features__list")

            li(class="features__item")
                img(src="img/features/partnership.svg", alt="partnership" class="features__image")
                h3(class="features__subtitle") Долгосрочное сотрудничество
                p(class="features__text") Большинство заказчиков неоднократно обращаются к нам с новыми заявками на оборудование.

            li(class="features__item")
                img(src="img/features/active_presence.svg", alt="active_presence" class="features__image")
                h3(class="features__subtitle") Активное присутствие на рынке
                p(class="features__text")  Участвуем в 80% проектов строительства энергетических объектов, реализуемых в настоящее время в России.

            li(class="features__item")
                img(src="img/features/ddp_delivery.svg", alt="ddp_delivery" class="features__image")
                h3(class="features__subtitle") Поставка на условиях DDP
                p(class="features__text") Берем на себя все таможенные и транспортные обязательства. Вам остается только принять оборудование у себя на складе.

            li(class="features__item")
                img(src="img/features/work_experience.svg", alt="work_experience" class="features__image")
                h3(class="features__subtitle") Опыт работы
                p(class="features__text") В период с 2011 по 2019 год мы исполнили более 180 контрактов на поставку 15000 единиц оборудования в 7 федеральных округов РФ, а также в 6 стран Евросоюза и СНГ.

            li(class="features__item")
                img(src="img/features/quality_equipment.svg", alt="quality_equipment" class="features__image")
                h3(class="features__subtitle") Качественное оборудование
                p(class="features__text") Поставляем надежную трубопроводную арматуру лучших европейских заводов с многолетними традициями производства. Оборудование, которое ценят проектировщики и эксплуатирующие организации. 

            li(class="features__item")
                img(src="img/features/engagements.svg", alt="engagements" class="features__image")
                h3(class="features__subtitle") Выполнение обязательств
                p(class="features__text") На оборудование предоставляется заводская гарантия. И даже поcле окончания гарантийного срока, мы остаемся с вами на связи. Не беспокойтесь, мы поможем восстановить потерянную документацию и решить любой другой вопрос по оборудованию.