footer.footer
    .footer__container

        p.footer__copyright © 2011–2021 EnergoValves
        a.footer__link(href="https://github.com/Sugarplum25/webpack_template-" target="_blank") Сайт создан с любовью