header.header

    .header__container

        .header__logo
            a.header__link(href="index.html")
                img.header__image(src='img/group.svg', alt="ЭнергоВэлс")
            a.header__text(href="index.html") 
                p.header__text-name EnergoValves 
                p.header__text-caption ЭНЕРГИЯ ВОЗМОЖНОСТЕЙ

        .header__burger
            span.header__burger-line
            span.header__burger-line
        
        nav.header__menu
            a.header__menu-item(href="company_catalog.html") Каталог
            a.header__menu-item(href="company_about.html") О компании
            a.header__menu-item(href="company_geography.html") География проектов 
            a.header__menu-item(href="company_contacts.html") Контакты       

        .header__phone
            .header__phone-status
            a.header__phone-link(href="tel:84994264505") 8 499 426-45-05
            img.header__phone-sigh(src="img/phone.svg", alt="позвонить")