header(class="header")

    div(class="header__container")

        -let logo_img = "img/group.svg";
        div(class="header__logo")
            a(href="index.html" class="header__link")
                img(src= logo_img, alt="EnergoValves_logo" class="header__image")
            a(href="index.html" class="header__text") 
                p(class="header__text-name") EnergoValves 
                p(class="header__text-caption") ЭНЕРГИЯ ВОЗМОЖНОСТЕЙ

        div(class="header__burger")
            span(class="header__burger-line")
            span(class="header__burger-line")
        
        nav(class="header__menu")
            a(href="company_catalog.html" class="header__menu-item") Каталог
            a(href="company_about.html" class="header__menu-item") О компании
            a(href="company_geography.html" class="header__menu-item") Георграфия проектов 
            a(href="company_contacts.html" class="header__menu-item") Контакты       

        div(class="header__phone")
            div(class="header__phone-status")
            a(href="tel:84994264505" class="header__phone-link") 8 499 426-45-05
            img(src="img/phone.svg", alt="phone_sigh" class="header__phone-sigh")