section.intro
    .intro__container

        .intro__block
            h1.intro__heading Поставки промышленной арматуры, <br>БРОУ, РОУ, автоматизированных систем управления арматурой, насосов и сопутствующего оборудования.
            a.intro__link(href="company_catalog.html") Посмотреть каталог

        .intro__block
            img.intro__image(src="img/factory.svg", alt="Промо изображение")
