section(class="intro")
    div(class="intro__container")
        div(class="intro__block")
            h1(class="intro__heading") Поставки промышленной арматуры, <br>БРОУ, РОУ, автоматизированных систем управления арматурой, насосов и сопутствующего оборудования.
            a(href="company_catalog.html" class="intro__link") Посмотреть каталог

        div(class="intro__block")
            img(src="img/factory.svg", alt="factory" class="intro__image")
