section(class="services")
    div(class="services__container")
        h2(class="title title_light") Услуги
        ul(class="services__list")
            li(class="services__item")
                img(src="img/icons/podbor.svg", alt="podbor" class="services__image")
                p(class="services__text") Подбор и расчет оборудования (как типового, так и в особом исполнении)

            li(class="services__item")
                img(src="img/icons/kontrol.svg", alt="kontrol" class="services__image")
                p(class="services__text") Контроль изготовления и своевременной отгрузки оборудования с завода

            li(class="services__item") 
                img(src="img/icons/tamojna.svg", alt="tamojna" class="services__image")
                p(class="services__text") Таможенное оформление (при необходимости)

            li(class="services__item") 
                img(src="img/icons/dostavka.svg", alt="dostavka" class="services__image")
                p(class="services__text") Доставка оборудования

            li(class="services__item") 
                img(src="img/icons/montaj.svg", alt="montaj" class="services__image")
                p(class="services__text") Шеф-монтаж, шеф-наладка

            li(class="services__item") 
                img(src="img/icons/obuchenie.svg", alt="obuchenie" class="services__image")
                p(class="services__text") Обучение персонала

            li(class="services__item") 
                img(src="img/icons/garant.svg", alt="garant" class="services__image")
                p(class="services__text") Гарантийное и сервисное обслуживание