section.services
    .services__container

        h2.title.title_light Услуги

        ul.services__list
            li.services__item
                img.services__image(src="img/icons/podbor.svg", alt="Подбор и расчет оборудования")
                p.services__text Подбор и расчет оборудования (как типового, так и в особом исполнении)

            li.services__item
                img.services__image(src="img/icons/kontrol.svg", alt="Контроль изготовления и отгрузки")
                p.services__text Контроль изготовления и своевременной отгрузки оборудования с завода

            li.services__item 
                img.services__image(src="img/icons/tamojna.svg", alt="Таможенное оформление")
                p.services__text Таможенное оформление (при необходимости)

            li.services__item 
                img.services__image(src="img/icons/dostavka.svg", alt="Доставка")
                p.services__text Доставка оборудования

            li.services__item 
                img.services__image(src="img/icons/montaj.svg", alt="Монтаж и наладка")
                p.services__text Шеф-монтаж, шеф-наладка

            li.services__item 
                img.services__image(src="img/icons/obuchenie.svg", alt="Обучение персонала")
                p(class="services__text") Обучение персонала

            li.services__item 
                img.services__image(src="img/icons/garant.svg", alt="Гарантийное и сервисное обслуживание")
                p.services__text Гарантийное и сервисное обслуживание