meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title EnergoValves Поставки промышленной арматуры, БРОУ, РОУ, автоматизированных систем управления арматурой, насосов и сопутствующего оборудования.
link(href="img/favicon.ico" rel="icon")