.information {
  background: linear-gradient(0deg, #f7f7f7, #f7f7f7);

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 5rem 0;
  }
}

@media (max-width: 1439px) {
  .information {
    &__container {
      max-width: 916px;
    }
  }
}

@media (max-width: 1023px) {
  .information {
    &__container {
      max-width: 727px;
    }
  }
}

@media (max-width: 833px) {
  .information {
    &__container {
      max-width: 634px;
    }
  }
}

@media (max-width: 677px) {
  .information {
    &__container {
      @include sm_margins;
      padding: 3.75rem 0;
    }
  }
}
@media (max-width: 374px) {
  .information {
    &__container {
      padding: 2.5rem 0;
    }
  }
}
