.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  display: none;

  background-color: #000f40;
  opacity: 0;

  &-active {
    display: block;

    opacity: 1;
  }
}
