@import 'variables.scss';

.services {
  box-sizing: border-box;
  margin: $zero-margin;
  color: $main-color;
  font-size: $main-size;
  font-family: $main-font;
  background: linear-gradient(0deg, #000f40, #000f40);

  &__container {
    max-width: 1100px;
    margin: auto;
    padding: 5rem 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: $zero-margin;
    margin-top: 2.5rem;
    padding: $zero-padding;
  }

  &__item {
    display: flex;
    flex: 0 0 44%;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }

  &__image {
    width: 70px;
    height: 70px;
    margin-right: 1.5rem;
  }

  &__text {
    margin: $zero-margin;
    color: $secondary-color;
    font-size: 1rem;
    line-height: 150%;
  }
}

@media (max-width: 1439px) {
  .services__container {
    max-width: 916px;
  }
}

@media (max-width: 1023px) {
  .services {
    &__container {
      max-width: 727px;
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 833px) {
  .services {
    &__container {
      max-width: 634px;
    }

    &__item {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 677px) {
  .services {
    &__container {
      @include sm_margins;

      padding: 3.75rem 0;
    }

    &__list {
      flex-direction: column;
      margin-top: 2rem;
    }

    &__item {
      margin-right: 1.5rem;
    }

    &__image {
      width: 56px;
      height: 56px;
    }
  }
}

@media (max-width: 374px) {
  .services {
    &__container {
      padding: 2.5rem 0;
    }

    &__list {
      flex-direction: column;
      margin-top: 2rem;
    }

    &__image {
      width: 42px;
      height: 42px;
      margin-right: 1rem;
    }
  }
}
