section(class="about")
    div(class="about__block")
        h1(class="about__title") Поставки промышленной арматуры, <br>БРОУ, РОУ, автоматизированных систем управления арматурой, насосов и сопутствующего оборудования.
        a(href="#" class="catalog__link") Посмотреть каталог

    div(class="about__block")
        img(src="../src/img/factory.png", alt="factory" class="about__image")
