section(class="customers")

    h2(class="customers__title") Заказчики

    div(class="customers__container")

            div(class="customers__item")
                img(src="../src/img/customers/logo_mosenergo.png", alt="mosenergo" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_lukoil.svg", alt="lukoil" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_silovie_mashini.png", alt="silovie_mashini" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_raoees.png", alt="raoees" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_rusgidro.svg", alt="rusgidro" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_eurohim.png", alt="eurohim" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_tekmosenergo.png", alt="tekmosenergo" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_sibur.png", alt="sibur" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_severstal.png", alt="severstal" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_gencomparny.png", alt="gencomparny" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_tashir.png", alt="tashir" class="customers__image")

            div(class="customers__item")
                img(src="../src/img/customers/logo_red_kot.png", alt="red_kot" class="customers__image") 