header(class="header")

    div(class="header__container")

        -let logo_img = "../src/img/group.svg";
        div(class="header__logo")
            a(href="#" class="header__link")
                img(src= logo_img, alt="EnergoValves_logo" class="header__image")
            div(class="header__text") 
                p(class="header__text-name") EnergoValves 
                p(class="header__text-caption") ЭНЕРГИЯ ВОЗМОЖНОСТЕЙ

        div(class="header__burger")
        
        nav(class="header__menu")
            a(href="#" class="header__menu-item") Каталог
            a(href="#" class="header__menu-item") О компании
            a(href="#" class="header__menu-item") Георграфия проектов 
            a(href="#" class="header__menu-item") Контакты        

        div(class="header__phone")
            div(class="header__phone-status")
            a(href="tel:84994264505" class="header__phone-link") 8 499 426-45-05
            img(src="../src/img/phone.svg", alt="phone_sigh" class="header__phone-sigh")