header(class="header")

    div(class="header__container")

        -let logo_img = "../src/img/group.svg";
        div(class="header__logo")
            a(href="#" class="logo__link")
                img(src= logo_img, alt="EnergoValves_logo" class="logo__image")
            div(class="logo__text") 
                p(class="logo__text-name") EnergoValves 
                p(class="logo__text-caption") ЭНЕРГИЯ ВОЗМОЖНОСТЕЙ

        nav(class="header__menu")
            a(href="#" class="menu__item") Каталог
            a(href="#" class="menu__item") О компании
            a(href="#" class="menu__item") Георграфия проектов 
            a(href="#" class="menu__item") Контакты        

        div(class="header__phone")
            div(class="phone")
                a(href="tel:84994264505" class="phone__link") 8 499 426-45-05