header(class="header")

    div(class="header__container")

        -let logo_img = "../src/img/group.svg";
        div(class="header__logo")
            a(href="#" class="header__link")
                img(src= logo_img, alt="EnergoValves_logo" class="header__image")
            div(class="header__text") 
                p(class="header__text-name") EnergoValves 
                p(class="header__text-caption") ЭНЕРГИЯ ВОЗМОЖНОСТЕЙ

        div(class="header__burger")
        
        nav(class="header__menu")
            a(href="#" class="menu__item") Каталог
            a(href="#" class="menu__item") О компании
            a(href="#" class="menu__item") Георграфия проектов 
            a(href="#" class="menu__item") Контакты        

        div(class="header__phone")
            div(class="phone")
                div(class="phone__status")
                a(href="tel:84994264505" class="phone__link") 8 499 426-45-05
                img(src="../src/img/phone.svg", alt="phone_sigh" class="phone__sigh")