doctype html
html(lang="en")
  head
    title Thit is pug
    
  body
    h1(class="title") Pug - it is something weird
    div(class="container")
      ul
        -let url = "https://static.mk.ru/upload/entities/2015/08/10/articles/detailPicture/6e/0c/65/829952131_3022582.jpg";
        -let style = "width: 350px";
        li
           p Hi!
           img(src = url, style = style, alt="енот")
        li
          p Hi again!
          img(src = url, style = style, alt="енот")
        li
          p Aloha!
          img(src = url, style = style, alt="енот")
