doctype html
html(lang="ru")
  head
    include ../setup/head.pug

  body  
    include ../blocks/header.pug
    include ../blocks/overlay.pug
    div Content coming soon!!!
    include ../blocks/footer.pug
    include ../blocks/pageup.pug