doctype html
html(lang="ru")
  head
    include ../setup/head.pug

  body   
    include ../blocks/header.pug
    include ../blocks/overlay.pug
    include ../blocks/company-contacts.pug
    include ../blocks/footer.pug
    include ../blocks/pageup.pug