doctype html
html(lang="ru")
  head
    include ../setup/head.pug

  body
    include ../blocks/header.pug
    include ../blocks/overlay.pug
    include ../blocks/intro.pug
    include ../blocks/services.pug
    include ../blocks/customers.pug
    include ../blocks/features.pug
    include ../blocks/footer.pug
    include ../blocks/pageup.pug
