@import 'variables.scss';

.about {
  &__container {
    display: flex;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
    color: $main-color;
    font-size: $main-size;
    font-family: $main-font;
  }

  &__block {
    width: 49%;
  }

  &__title {
    margin: $zero-margin;
    margin-right: 3.065rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 150%;
  }

  &__link {
    @include link_reset;

    display: block;
    width: 50%;
    padding: 1.125rem 2rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.187rem;
    text-align: center;
    background: linear-gradient(0deg, #f00, #f00), linear-gradient(0deg, #2558cc, #2558cc), #40b840;
    border-radius: 100px;
  }

  &__image {
    display: block;
    width: 446px;
    height: 247px;
  }

  @media (max-width: 1439px) and (min-width: 1024px) {
    .about__container {
      max-width: 916px;
    }
  }

  @media (max-width: 1023px) and (min-width: 834px) {
    .about {
      &__container {
        max-width: 727px;
        padding-top: 5rem;
        padding-bottom: 5rem;
      }

      &__block {
        width: 48%;
      }

      &__title {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.125rem;
      }

      &__link {
        padding: 1rem 1.375rem;
        font-size: 0.88rem;
      }
    }
  }

  @media (max-width: 833px) and (min-width: 678px) {
    .about {
      &__container {
        max-width: 634px;
        padding: 5rem 0;
      }

      &__title {
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
      }

      &__link {
        padding: 1rem 0.81rem;
      }

      &__image {
        width: 258px;
        height: 143px;
      }
    }
  }

  @media (max-width: 677px) and (min-width: 375px) {
    .about {
      &__container {
        @include sm_margins;

        flex-direction: column-reverse;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
      }

      &__block {
        width: 100%;
      }

      &__title {
        margin: $zero-margin;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
      }

      &__link {
        width: 43%;
        padding: 0.81rem 1.43rem;
        font-size: 0.88rem;
      }

      &__image {
        width: 352px;
        height: 195px;
      }
    }
  }

  @media (max-width: 374px) {
    .about {
      &__container {
        @include sm_margins;

        flex-direction: column-reverse;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }

      &__block {
        width: 100%;
      }

      &__title {
        margin: $zero-margin;
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        font-size: 0.88rem;
      }

      &__link {
        width: 49%;
        padding: 0.68rem 1.3rem;
        font-size: 0.75rem;
        line-height: 0.87rem;
      }

      &__image {
        width: 258px;
        height: 143px;
        margin: auto;
      }
    }
  }
}
