@import 'variables.scss';

.customers {
  background: linear-gradient(0deg, #fff, #fff);
  margin: auto;
  max-width: 1100px;
  padding: 5rem 0;

  &__title {
    color: $main-color;
    font-family: $add-font;
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
    margin: $zero-margin;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 2.5rem;
  }

  &__item {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    width: 257px;
  }

  &__image {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .customers {
    max-width: 916px;
  }
}

@media (max-width: 1023px) and (min-width: 834px) {
  .customers {
    max-width: 727px;

    &__title {
      font-size: 2.63rem;
    }

    &__item {
      height: 123px;
      margin-bottom: 32px;
      margin-right: 16px;
      width: 226px;
    }
  }
}

@media (max-width: 833px) and (min-width: 678px) {
  .customers {
    max-width: 634px;

    &__item {
      height: 106px;
      margin-bottom: 2rem;
      margin-right: 0.5rem;
      width: 195px;
    }
  }
}

@media (max-width: 677px) and (min-width: 375px) {
  .customers {
    padding: 2rem 0;

    &__title {
      font-size: 2.25rem;
      margin-left: 0.75rem;
    }

    &__container {
      @include sm_margins; 
      margin-top: 2rem;
    }

    &__item {
      height: 90px;
      margin-bottom: 1.5rem;
      margin-right: 0.5rem;
      width: 164px;
    }
  }
}

@media (max-width: 374px) {
  .customers {
    padding: 3.75rem 0;

    &__title {
      font-size: 1.75rem;
      margin-left: 0.75rem;
    }

    &__container {
      @include sm_margins;
      margin-top: 1.5rem;
    }

    &__item {
      height: 64px;
      margin: 0;
      margin-bottom: 1rem;
      margin-right: 1.5rem;
      width: 117px;
    }
  }
}
