@import 'variables.scss';

.footer {
  background: linear-gradient(0deg, #f7f7f7, #f7f7f7);
  box-sizing: border-box;
  color: $main-color;
  font-family: $main-font;
  font-size: $main-size;
  margin: $zero-margin;

  &__container {
    align-items: center;
    display: flex;
    font-size: 0.88rem;
    justify-content: space-between;
    line-height: 160%;
    margin: auto;
    max-width: 1100px;
    padding: 1.4rem 0;
    text-align: center;
  }

  &__copyright {
    margin: $zero-margin;
  }

  &__link {
    color: $main-color;
    text-decoration: none;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .footer__container {
    max-width: 916px;
  }
}

@media (max-width: 1023px) and (min-width: 834px) {
  .footer__container {
    font-size: 0.75rem;
    max-width: 727px;
  }
}

@media (max-width: 833px) and (min-width: 678px) {
  .footer__container {
    font-size: 0.75rem;
    max-width: 634px;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .footer__container {
    font-size: 0.75rem;
    margin: 0 0.75rem 0 0.75rem;
  }
}

@media (max-width: 374px) {
  .footer__container {
    font-size: 0.63rem;
    margin: 0 0.75rem 0 0.75rem;
  }
}
