.footer {
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7);
}
.footer__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer__link {
    display: block;
}