.footer {
    background: linear-gradient(0deg, #F7F7F7, #F7F7F7);
}
.footer__container {
    max-width: 1100px;
    margin: 0 18%;
    padding: 2.5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.88rem;
    line-height: 160%;
    
}
.footer__copyright {
    margin: $zero-margin;
}
.footer__link {
    display: block;
    color: $main-color;
    
}
@media (max-width: 1439px) and (min-width: 1024px) {
    .footer__container {
        max-width: 916px;
    }
}
@media (max-width: 1023px) and (min-width: 834px) {
    .footer__container {
        max-width: 727px;
        font-size: 0.75rem;
    }
}
@media (max-width: 833px) and (min-width: 678px) {
    .footer__container {
        max-width: 634px;
        font-size: 0.75rem;
    }
}
@media (max-width: 767px) and (min-width: 375px) {
    .footer__container {
        max-width: 365px;
        font-size: 0.75rem;
    }
}
@media (max-width: 374px) {
    .footer__container {
        font-size: 0.63rem;
    }
}
