@import 'variables.scss';

.header {
  background: #fff;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: $main-color;
  font-family: $main-font;
  font-size: $main-size;

  &__container {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
  }

  &__burger {
    border-radius: 2px;
    cursor: pointer;
    width: 30px;
    display: none;
    &-line {
      display: block;
      height: 3px;
      width: 100%;
      border-radius: 2px;
      transition: 0.6s all;
      background-color: $main-color;
      &:first-child {
        margin-bottom: 10px;
      }
    }
    &-active {
      span:first-child {
          transform: rotate(45deg);
          margin-bottom: -3px;
        }
      span:last-child {
          transform: rotate(-45deg);
        }
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    text-align: center;
    cursor: pointer;
  }

  &__text {
    @include link_reset;
    align-items: center;
    display: flex;
    flex-direction: column;

    &-name {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.75rem;
      margin: $zero-margin;
    }

    &-caption {
      font-size: 0.635rem;
      letter-spacing: 0.09em;
      line-height: 0.75rem;
      margin: $zero-margin;
    }
  }

  &__menu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: $zero-padding;
    padding-left: 0;

    &-item {
      @include link_reset;
      line-height: 1.2rem;
      margin-right: 0.75rem;
      padding: 0 1em;
    }
  }

  &__phone {
    align-items: center;
    display: flex;

    &-status {
      background: #29cc5f;
      border-radius: 50%;
      height: 8px;
      margin-right: 0.5rem;
      width: 8px;
    }

    &-link {
      @include link_reset;
      font-size: 1.25rem;
      line-height: 1.43rem;
    }

    &-sigh {
      display: none;
    }
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .header {
    &__container {
      max-width: 916px;
    }

    &__logo {
      order: 2;
    }

    &__menu {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__phone {
      order: 3;
    }
  }
}

@media (max-width: 1023px) and (min-width: 834px) {
  .header {
    &__container {
      height: 60px;
      max-width: 727px;
    }

    &__logo {
      order: 2;
    }

    &__menu {
      display: none;
    }

    &__image {
      height: 34px;
      width: 34px;
    }

    &__burger {
      display: block;
    }

    &__phone {
      order: 3;

      &-link {
        font-size: 1.125rem;
        line-height: 1.3rem;
      }
    }
  }
}

@media (max-width: 833px) and (min-width: 678px) {
  .header {
    &__container {
      max-width: 634px;
    }

    &__logo {
      order: 2;
    }

    &__menu {
      display: none;
    }

    &__burger {
      display: block;
    }

    &__phone {
      order: 3;

      &-link {
        font-size: 1.125rem;
        line-height: 1.3rem;
      }
    }
  }
}

@media (max-width: 677px) and (min-width: 375px) {
  .header {
    &__container {
      @include sm_margins;
      height: 60px;
    }

    &__menu {
      display: none;
    }

    &__logo {
      margin: 0;
      order: 2;
    }

    &__burger {
      display: block;
    }

    &__text {
      display: none;
    }

    &__phone {
      order: 3;

      &-link {
        display: none;
      }

      &-sigh {
        display: block;
      }

      &-status {
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 374px) {
  .header {
    &__container {
      @include sm_margins;
      height: 48px;
    }

    &__menu {
      display: none;
    }

    &__logo {
      margin: 0;
      order: 2;
    }

    &__image {
      height: 28px;
      width: 28px;
    }

    &__burger {
      display: block;
    }

    &__text {
      display: none;
    }

    &__phone {
      order: 3;

      &-link {
        display: none;
      }

      &-sigh {
        display: block;
      }

      &-status {
        align-self: flex-end;
      }
    }
  }
}
