$main-size: 1em;
$main-font: 'Roboto', sans-serif;
$add-font: 'Raleway', sans-serif;
$main-color: #000F40;
$add-color: #E5EBFF;
$zero-margin: 0;
$zero-padding: 0;

body {
    font-size: $main-size;
    font-family: $main-font;
    color: $main-color;
    margin: $zero-margin;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h2 {
    font-size: $main-size * 3;
    font-family: $add-font;
}
// .main__content {
//     width: 100%;
//     max-width: 1100px;
//     margin: auto;
// }
.title {
    font-size: 1.4rem;
    margin: $zero-margin;
}
.about {
    display: flex;
    justify-content: space-around;
    padding-bottom: 126px;
    padding-top: 125px;
    width: 100%;
    max-width: 1100px;
    margin: auto;

}
.about__block {
    width: 50%;
}
.about__title {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 24px;
}
.catalog__link {
    display: block;
    padding: 18px 32px;
    background: linear-gradient(0deg, #FF0000, #FF0000), linear-gradient(0deg, #2558CC, #2558CC), #40B840;
    border-radius: 100px;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}
.about__image {
    width: 446px;
    display: block;
    max-width: 100%;
    height: auto;
}
.services {
    background: linear-gradient(0deg, #000F40, #000F40);
}
.services__container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 80px 0;
}
.services__title {
    color: #E5EBFF;
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
}
.services__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 40px;
}
.services__item {
    max-width: 444px;
    display: flex;
    flex: 0 0 50%;
}
.services__image {
    width: 70px;
    height: 70px;
    margin-right: 24px;
    margin-bottom: 32px;
}
.servises__text {
    vertical-align: baseline;
    font-size: 1rem;
    line-height: 150%;
    color: #E5EBFF;
}
.customers__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.customers__image {
    display: block;
    max-width: 100%;
    height: auto;
}
.features__list {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 1439px) and (min-width: 1024px) {
    .about, .services__container {
        max-width: 916px;
    }
}
@media (max-width: 1023px) and (min-width: 834px) {
    .services__container {
        max-width: 727px;
    }
}
@media (max-width: 833px) and (min-width: 678px) {
    .about, .services__container {
        max-width: 634px;
    }
}
@media (max-width: 767px) and (min-width: 375px) {
    .about, .services__container {
        max-width: 351px;
    }
    .about {
        flex-direction: column;
    }
        .about {
        flex-direction: column-reverse;
        padding-top: 60px;
        padding-bottom: 73px;
    }
    .about__block {
        width: 100%;
    }
    .about__title {
        font-size: 1rem;
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .catalog__link {
        width: 48%;
        font-size: 0.88rem;
        line-height: 1rem;
        padding: 13px 23px;
    }
}
@media (max-width: 374px) {
    .about, .services__container {
        max-width: 258px;
    }
    .about {
        flex-direction: column-reverse;
        padding-top: 60px;
        padding-bottom: 73px;
    }
    .about__block {
        width: 100%;
    }
    .about__title {
        font-size: 1rem;
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .catalog__link {
        width: 50%;
        font-size: 0.75rem;
        line-height: 0.87rem;
        padding: 11px 21px;
    }
}

@import 'header.scss', 'footer.scss'


