$main-size: 1em;
$main-font: 'Roboto', sans-serif;
$add-font: 'Raleway', sans-serif;
$main-color: #000F40;
$add-color: #E5EBFF;
$zero-margin: 0;
$zero-padding: 0;

body {
    font-size: $main-size;
    font-family: $main-font;
    color: $main-color;
    margin: $zero-margin;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.title {
    margin: $zero-margin;
    font-size: 3rem;
    font-family: $add-font;
    font-weight: bold;
    line-height: 120%;
}
.about {
    display: flex;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 126px;
    padding-top: 125px;
    width: 100%;
    max-width: 1100px;
}
.about__block {
    width: 49%;
}
.about__title {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 150%;
    margin-right: 49px;
    margin-bottom: 24px;
}
.catalog__link {
    display: block;
    padding: 18px 32px;
    background: linear-gradient(0deg, #FF0000, #FF0000), linear-gradient(0deg, #2558CC, #2558CC), #40B840;
    border-radius: 100px;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}
.about__image {
    width: 446px;
    display: block;
    width: 100%;
    height: auto;
}
.services {
    background: linear-gradient(0deg, #000F40, #000F40);
}
.services__container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 80px 0;
}
.services__title {
    color: #E5EBFF;
}
.services__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin-top: 40px;
}
.services__item {
    max-width: 444px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 44%;
    margin-bottom: 32px;
    margin-right: 24px;
}
.services__image {
    width: 70px;
    height: 70px;
    margin-right: 24px;
}
.servises__text {
    margin: $zero-margin;
    font-size: 1rem;
    line-height: 150%;
    color: #E5EBFF;
}
.customers {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 80px 0 80px 0;
    margin: auto;
}
.customers__title {
    color: #000F40;
}
.customers__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}
.customers__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 140px;
    margin: 0 24px 32px 0;
}
.customers__image {
    display: block;
    max-width: 100%;
    height: auto;
}
.features {
    background: linear-gradient(0deg, #000F40, #000F40);
}
.features__container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 80px 0;
}
.features__title {
    color: #E5EBFF;
}
.features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 40px;
}
.features__subtitle {
    color: #E5EBFF;
    font-size: 1.375rem;
    line-height: 160%;
    font-weight: bold;
    margin: $zero-margin;
    margin-top: 32px;
}
.features__item {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    margin-bottom: 48px;
    width: 45%;
}
.features__image {
    width: 220px;
    height: 220px;
    max-width: 100%;
}
.features__text {
    color:#E5EBFF;
    font-size: 1rem;
    line-height: 150%;
    margin: $zero-margin;
    margin-top: 8px;
}
@media (max-width: 1439px) and (min-width: 1024px) {
    .about, .services__container, .customers, .features__container {
        max-width: 916px;
    }
}
@media (max-width: 1023px) and (min-width: 834px) {
    .about, .services__container, .customers, .features__container {
        max-width: 727px;
    }
    .title {
        font-size: 2.63rem;
    }
    .about__block {
        width: 48%;
    }
    .catalog__link {
        font-size: 0.88rem;
    }
    .customers__item {
        width: 226px;
        height: 123px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
    .features__subtitle {
        font-size: 1.125rem;
    }
    .features__text {
        font-size: 0.875rem;
    }
}
@media (max-width: 833px) and (min-width: 678px) {
    .about, .services__container, .customers, .features__container {
        max-width: 634px;
    }
    .about__title {
        font-size: 1rem;
    }
    .customers__item {
        width: 195px;
        height: 106px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}
@media (max-width: 767px) and (min-width: 375px) {
    .about, .services__container, .customers, .features__container {
        max-width: 351px;
    }
    .title {
        font-size: 2.25rem;
    }
    .about {
        flex-direction: column-reverse;
        padding-top: 60px;
        padding-bottom: 73px;
    }
    .about__block {
        width: 100%;
    }
    .about__title {
        font-size: 1rem;
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .catalog__link {
        width: 48%;
        font-size: 0.88rem;
        line-height: 1rem;
        padding: 13px 23px;
    }
    .services__container {
        padding: 60px 0 43px 0;
    }
    .services__list {
        flex-direction: column;
    }
    .servises__text {
        font-size: 0.875rem;
    }
    .customers {
        padding: 60px 0;
    }
    .customers__item {
        width: 164px;
        height: 90px;
        margin-right: 11px;
        margin-bottom: 24px;
    }
    .features__container {
        padding: 60px 0;
    }
    .features__item {
        width: 100%;
    }
    .features__image {
        width: 164px;
        height: 164px;
    }
}
@media (max-width: 374px) {
    .about, .services__container, .customers, .features__container {
        max-width: 258px;
    }
    .title {
        font-size: 1.75rem;
    }
    .about {
        flex-direction: column-reverse;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about__block {
        width: 100%;
    }
    .about__title {
        font-size: 0.88rem;
        margin: $zero-margin;
        padding: 12px 31px;
    }
    .catalog__link {
        width: 49%;
        font-size: 0.75rem;
        line-height: 0.87rem;
        padding: 11px 21px;
        margin-left: 31px;
    }
    .services__container {
        padding: 40px 0 40px 0;
    }
    .services__list {
        flex-direction: column;
    }
    .servises__text {
        font-size: 0.75rem;
    }
    .customers {
        padding: 40px 0;
    }
    .customers__item {
        width: 117px;
        height: 64px;
        margin: 0;
        margin-right: 12px;
        margin-bottom: 24px;
    }
    .features__container {
        padding: 40px 0;
    }
    .features__item {
        width: 100%;
    }
    .features__image {
        width: 117px;
        height: 117px;
    }
    .features__subtitle {
        font-size: 1rem;
    }
    .features__text {
        font-size: 0.75rem;
    }
}

@import 'header.scss', 'footer.scss'


