@import 'variables.scss';

.services {
  background: linear-gradient(0deg, #000f40, #000f40);
  box-sizing: border-box;
  color: $main-color;
  font-family: $main-font;
  font-size: $main-size;
  margin: $zero-margin;

  &__container {
    margin: auto;
    max-width: 1440px;
    padding: 5rem 0;
  }

  &__title {
    color: $add-color;
    font-family: $add-font;
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
    margin: $zero-margin;
  }

  &__list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: $zero-margin;
    margin-top: 2.5rem;
    padding: $zero-padding;
  }

  &__item {
    align-items: center;
    display: flex;
    flex: 0 0 44%;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
  }

  &__image {
    height: 70px;
    margin-right: 1.5rem;
    width: 70px;
  }

  &__text {
    color: $add-color;
    font-size: 1rem;
    line-height: 150%;
    margin: $zero-margin;
  }
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .services__container {
    max-width: 916px;
  }
}

@media (max-width: 1023px) and (min-width: 834px) {
  .services {
    &__container {
      max-width: 727px;
    }

    &__title {
      font-size: 2.63rem;
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 833px) and (min-width: 678px) {
  .services {
    &__container {
      max-width: 634px;
    }

    &__title {
      font-size: 2.63rem;
    }

    &__item {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .services {
    &__container {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      padding: 3.75rem 0;
    }

    &__title {
      font-size: 2.25rem;
    }

    &__list {
      flex-direction: column;
      margin-top: 2rem;
    }

    &__item {
      margin-right: 1.5rem;
    }

    &__image {
      height: 56px;
      width: 56px;
    }

    &__text {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 374px) {
  .services {
    &__container {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
      padding: 2.5rem 0;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__list {
      flex-direction: column;
      margin-top: 2rem;
    }

    &__image {
      height: 42px;
      margin-right: 1rem;
      width: 42px;
    }

    &__text {
      font-size: 0.75rem;
    }
  }
}
