@import '~normalize.css';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import 'variables.scss';
@import 'mixins.scss';
@import 'typography.scss';
@import 'blocks/title.scss';
@import 'blocks/header.scss';
@import 'blocks/overlay.scss';
@import 'blocks/intro.scss';
@import 'blocks/services.scss';
@import 'blocks/customers.scss';
@import 'blocks/features.scss';
@import 'blocks/footer.scss';
@import 'blocks/pageup.scss';
@import 'blocks/company-info.scss';
@import 'blocks/company-contacts.scss';
