$main-size: 1em;
$main-font: 'Roboto', sans-serif;
$add-font: 'Raleway', sans-serif;
$main-color: #000f40;
$secondary-color: #e5ebff;
$hover-color: #ff4000;
$focus-color: #e50000;
$green: #29cc5f;
$gray: #b3b7c6;
$zero-margin: 0;
$zero-padding: 0;
